<h1>New restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :rating %>
  <%= f.submit  %>
<% end %>


<br>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
